<p align="left"><h3>Share this post on social media:</h3>


  
    test<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t={{ page.title }}" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="{{ site.url }}/assets/images/Facebook.png"></a>
    test<a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text=%7C%20%0A%20%20{{page.title}}:%20{{site.url}}{{page.url}}&via={{ site.twitter_username }}" target="_blank" title="Tweet"><img alt="Tweet" src="{{ site.url }}/assets/images/Twitter.png"></a>
    test<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src="{{ site.url }}/assets/images/Google+.png"></a>
    <a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src="{{ site.url }}/assets/images/Reddit.png"></a>

 
  </p>
